USE [ServiceSystemDb]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2024-09-25 00:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[AccountId] [int] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Licenses]    Script Date: 2024-09-25 00:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licenses](
	[LicenseId] [int] IDENTITY(1,1) NOT NULL,
	[QuantityOfUsers] [int] NOT NULL,
	[ValidTo] [datetime2](7) NOT NULL,
	[State] [nvarchar](max) NULL,
	[AccountId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
 CONSTRAINT [PK_Licenses] PRIMARY KEY CLUSTERED 
(
	[LicenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2024-09-25 00:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[LicenseId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [CompanyName], [AccountId]) VALUES (1, N'Arla', 1)
INSERT [dbo].[Customers] ([CustomerId], [CompanyName], [AccountId]) VALUES (2, N'Alfa Laval', 2)
INSERT [dbo].[Customers] ([CustomerId], [CompanyName], [AccountId]) VALUES (3, N'Volvo', 3)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Licenses] ON 

INSERT [dbo].[Licenses] ([LicenseId], [QuantityOfUsers], [ValidTo], [State], [AccountId], [ServiceId]) VALUES (1, 5, CAST(N'2024-11-23T03:08:45.5879389' AS DateTime2), N'inactive', 1, 3)
INSERT [dbo].[Licenses] ([LicenseId], [QuantityOfUsers], [ValidTo], [State], [AccountId], [ServiceId]) VALUES (2, 5, CAST(N'2025-05-23T00:08:26.6611423' AS DateTime2), N'active', 2, 1)
INSERT [dbo].[Licenses] ([LicenseId], [QuantityOfUsers], [ValidTo], [State], [AccountId], [ServiceId]) VALUES (3, 4, CAST(N'2025-03-23T00:09:30.6613727' AS DateTime2), N'active', 3, 4)
SET IDENTITY_INSERT [dbo].[Licenses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [CustomerId], [UserName], [LicenseId]) VALUES (1, 1, N'Ture Svensson', 5)
INSERT [dbo].[Users] ([UserId], [CustomerId], [UserName], [LicenseId]) VALUES (2, 1, N'Lena Modin', 5)
INSERT [dbo].[Users] ([UserId], [CustomerId], [UserName], [LicenseId]) VALUES (3, 1, N'Peter Norberg', 5)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [AccountId]
GO
ALTER TABLE [dbo].[Licenses] ADD  DEFAULT ((0)) FOR [AccountId]
GO
ALTER TABLE [dbo].[Licenses] ADD  DEFAULT ((0)) FOR [ServiceId]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [LicenseId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Licenses_LicenseId] FOREIGN KEY([LicenseId])
REFERENCES [dbo].[Licenses] ([LicenseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Licenses_LicenseId]
GO
